<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vue 3 Basics</title>
</head>

<body>
    <div id="app">

        {{greeting}}
        <input v-model="greeting" />

        <div v-if="isVisible">
            <p>My name is {{name}}</p>
        </div>
        <div v-else-if="isVisible2">
            <p>My name is {{name2}}</p>
        </div>
        <div v-else>
            <p>My name is {{name2}} {{surname}}</p>
        </div>

        <div v-show="isVisible">
            <p>My name is {{name}} {{surname}}</p>
        </div>

    </div>

    <script src="https://unpkg.com/vue@3"></script>

    <script>
        let app = Vue.createApp({
            data: function () {
                return {
                    greeting: 'Hello Vue 3 !',
                    name: 'Peter',
                    name2: 'George',
                    surname: 'Pan',
                    isVisible: false,
                    isVisible2: false,
                }
            }
        })

        app.mount('#app')
    </script>

</body>

</html>